{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "true": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "no-new": 0,
    "import/no-dynamic-require": 0
  }
}
